html{
    background-color: black;
}
#memeHeading{
    text-transform: uppercase;
    font-family: 'Chakra Petch', sans-serif;
    color:white;
    text-align: center;
}
#memeText{
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    text-align: center;
}
#memeImage{
    height: 50%;
    width: 100%;
    border: 5px solid white;
}
.poster{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

.button:hover {
  box-shadow: hsl(39, 89%, 37%) 0 4px 8px, black 0 7px 10px -1px, hsl(39, 89%, 37%) 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: rgb(168, 119, 28) 0 3px 7px inset;
  transform: translateY(2px);
} 
button {
  animation: wiggle 2s linear infinite;
}

/* Keyframes */
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

body {
  background: #000;
}

button {
  left: calc(50% - 3em);
  top: calc(50% - 2em);
  
  height: 25px;
  width: 45px;
  
  background: #000000;
  background: linear-gradient(top, #555, #333);
  border: none;
  border-top: 3px solid orange;
  border-radius: 0 0 0.2em 0.2em;
  color: #fff;
  font-family: silkscreen, Arial, Sans-serif;
  font-size: 12px;
  transform-origin: 50% 5em;
  text-align: center;
  padding-bottom: 3px;
}
.bottom-container{
  background-color: black;
}

